main.js
src/const only for UP.ts
new-version.md
node_modules/
data copy.json
scripts/publish.mjs
.vscode/
src/Automated Bafög.md
src/law.css
openapi_v_00_03_00.yaml
tests/obsidian/.env
tests/obsidian/artifacts/
